<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
   <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.springframework.web" level="WARN"/>
  <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>D:\\logs\\springbootLog.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
      <FileNamePattern>D:\\logs\\temp\\springboot-log.%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="dailyRollingFileAppender"></appender-ref>
  </root>
  </configuration>